body{
  font-family: 'Noto Serif JP', 'Noto sans', 'open sans';
  line-height: 25px;
  font-size: 20px;
}

a:hover{
  background-color: lightblue;
}

p,ul{
  font-family: 'Reem Kufi Fun', sans-serif;
  max-width: 100ch;
  margin: auto
}

p{
  margin-bottom: 32px;
}

h1{
  font-size:  80px;
  font-family: 'VALORANT', sans-serif;
  color: #fa4454;
  text-align: center;
  padding: 25px;
  background-image: url()
}

h2{
  text-indent: 100px;
}

footer{
  text-align: center;
}

.main
{
  padding-left: 25px;
}